.main {
  display: none;
}
.block {
  display: block;
}
.none {
  display: none;
}

.start {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  background: #710cf2;
  padding: 15px 60px;
  border-radius: 10px;
  border: none;
  transition: 0.3s all ease;
  transform: scale(1);
  animation: light 1.5s infinite alternate;
}
.start:hover {
  transform: scale(1.03);
}
@keyframes light {
  0% {
     -webkit-box-shadow: 0px 0px 20px 0px rgba(190,77,227,0);
     -moz-box-shadow: 0px 0px 20px 0px rgba(190,77,227,0);
     box-shadow: 0px 0px 20px 0px rgba(190,77,227,0);
  }
  100% {
     -webkit-box-shadow: 0px 0px 20px 0px rgba(190,77,227,1);
     -moz-box-shadow: 0px 0px 20px 0px rgba(190,77,227,1);
     box-shadow: 0px 0px 20px 0px rgba(190,77,227,1);
  }
}

